
<div class="body">
  <div class="header">
    <div class="profile">
      <span class="profile_name">Saurabh Pandey</span>
      <img src="https://www.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg" class="profile_image">
    </div>
  </div>
  <div class="sidebar">
    <h2 class="site_title">LB</h2>
    <ul class="sidebar_menu">
      <li (click)="navigate('')">
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <br>
        Dashboard
      </li>
      <li (click)="navigate('profile')">
        <i class="fa fa-user" aria-hidden="true"></i>  
        <br>
        Profile
      </li>
      <li (click)="navigate('')">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <br>
        Q And A
      </li>
      <li (click)="navigate('projects')">
          <i class="fa fa-list" aria-hidden="true"></i>
          <br>
          Projects
      </li>
      <li class="no_border">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <br>
        Logout
      </li>
    </ul>
  </div>
  <div class="content">
      <router-outlet></router-outlet>
  </div>
  
</div>
