.sidebar {
  background-color: #4e73df;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#4e73df),to(#224abe));
  background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
  background-size: cover;
  position: fixed;
  top: 0;
  width: 7%;
  height: 100vh;
  color: white;
}

.header {
  -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
  position: fixed;
  top: 0;
  left: 7%;
  height: 70px;
  width: 93%;
  background: white;
}
.content {
  padding-left: 10%;
  padding-top: 100px;
  background: var(--light);
  height: 100vh;
  width: 100%;
  padding-right: 3%;
  overflow: hidden;
  overflow-y: scroll;
}

.site_title {
  font-family: 'Exo', sans-serif;
  margin-top: 3vh;
  text-align: center;
  letter-spacing: 3px;
}

.sidebar_menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10vh;
}

.sidebar_menu li {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  padding-bottom: 2vh;
  padding-top: 1vh;
  margin-bottom: 1vh;
  font-size: 10px;
  color: rgba(255,255,255,.6);
  cursor: pointer;
  /* border-bottom: .5px solid rgba(255,255,255,.6); */
}

.sidebar_menu li:hover {
  color: rgba(255,255,255,1);
}

.sidebar_menu li i {
  font-size: 20px;
  margin-bottom: .5vh;
}

.no_border {
  border-bottom: none!important;
}

.profile {
  position: relative;
  /* left: 80%; */
  height: 70px;
  line-height: 70px;
  float: right;
  margin-right: 20px;
}

.profile_image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile_name {
  line-height: 40px;
  margin-right: 10px;
  color: rgba(0,0,0,.6);
  font-size: 13px;
}

